<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<title>GitHubViewer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="web, development, websites, software, portfolio, science, study, business, media, blog, developer, angular, CSS, HTML, Javascript, PHP, Python"/>
    <meta name="description" content="Web Development Portfolio"/>
    <link rel="icon" type="image/png" href=""/>
	<link rel="stylesheet" href="">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript" src="js/githubviewer_1.js"></script>
	<script type="text/javascript" src="js/github.js"></script>

</head>

<body ng-controller="HTTPController">

	<h3>Data Output:</h3>

	<div>{{error}}</div>

	<div>Name: {{user.name}}</div>
	<div>Company: {{user.company}}</div>
	<div><img ng-src="{{user.avatar_url}}"></div>
	<div>Username:{{username}}</div>

    {{countdown}}
	<form name="searchUser" ng-submit="search(username)">
		<input type="search" placeholder="Type Here" required ng-model="username"/>
		<input type="submit" value="Search" />
	</form>

	<select ng-show="user" ng-model="repoSortOrder">
		<option value="+id">Ascending Id</option>
		<option value="-id">Descending Id</option>
	</select>

	<table id="userdetails" ng-hide="!user">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Full Name</th>
			</tr>			
		</thead>
		<tbody>
			<tr ng-repeat="repo in repos | orderBy: repoSortOrder">
				<td>{{repo.id | number}}</td>
				<td>{{repo.name}}</td>
				<td>{{repo.full_name}}</td>
			</tr>	
		</tbody>
	</table>


</body>
</html>
