<div>
	<!-- if you define the controller in the config, no longer necessary to declare it here... -->

	{{countdown}}
	<form name="searchUser" ng-submit="search(username)">
		<input type="search" placeholder="Type Here" required ng-model="username"/>
		<input type="submit" value="Search" />
	</form>


</div>