<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<title>First Trials using Angular JS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="web, development, websites, software, portfolio, science, study, business, media, blog, developer, angular, CSS, HTML, Javascript, PHP, Python"/>
    <meta name="description" content="Web Development Portfolio"/>
    <link rel="icon" type="image/png" href=""/>
	<link rel="stylesheet" href="">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

</head>

<body ng-controller="MainController">

	<h1>{{message}}</h1>

	<div ng-controller="PersonController">
		<div>First name is: {{person.firstName}}</div>
		<div>Last name is: {{person.lastName}}</div>
		<img ng-src="{{person.imageSrc}}" title="{{person.firstName}}{{person.lastName}}">
	</div>

	<!--the 'name' actually comes from the data from the //server... the data structure with the field names is there-->
	<div ng-controller="HTTPController">{{user.name}}</div>

</body>
</html>
